$mainbg: #202122;
$mainfg: #ccc;
$caret: #fff;
$selection: "#aaaaaa25";

$comment: #6b6b6b;
$commentStyle: italic;

$cosnt-num: $miya;
$const-lang: $akane;
$const-esc: $tamaki;
$const-placeholder: $roco;
$const-other: $chizuru;

$const-var: $mainfg; // $miya

$ent-name: $tsubasa;
$ent-class: $mizuki;
$ent-type: $tsubasa;
$ent-inh-class: $noriko;
$ent-function: $shizuka;

$ent-tag: $kotoha;
$ent-section: $fuka;
$ent-attr: $anna;

$invalid: $hinata;
$illegalbg: $iku;
$illegalfg: $karen;
$deprecatedbg: $iku;
$deprecatedfg: $haruka;

$keyword-fg: $mirai;
$keyword-control: $mirai;
$keyword-operator: $tsumugi;

$punct-keyword: $tsumugi;
$punct-string: $serika;
$punct-var: $shizuka;
$punct-exp: $serika;

$storage-type: $tsubasa;
$storage-modifier: $tsubasa;

$string-fg: $minako;
$string-regexp: $kotoha;
$string-quoted: $minako;

$support-fg: $tsubasa;
$support-const: $kana;
$support-module: $momoko;
$support-function: $anna;
$support-class: $yuriko;
$support-type: $tsubasa;

$var-parameter: $elena;
$var-function: $shizuka;
$var-lang: $karen;

$meta-func-call: $shizuka;


$mark-head: $shizuka;
$mark-list: $konomi;

$mark-bold: $kotoha;
$boldStyle: bold;

$mark-italic: $kotoha;
$italicStyle: italic;

$mark-underln: $kotoha;

$mark-insert: $kotoha;
$mark-insert-bg: $megumi;

$mark-del: $sayoko;
$mark-del-bg: $megumi;
