$shizuka: #6495cf;
$mirai: #ea5b76;
$tsubasa: #fed552;
$kaori: #152b65;
$tsumugi: #b5b1e1;
$ritsuko: #01a860;
$haruka: #e22b30;
$konomi: #f1becb;
$emily: #554171;
$noriko: #eceb70;
$amimami: #ffe43f;
$hibiki: #01adb9;
$yukiho: #d3dde9;
$serika: #ed90ba;
$roco: #fff03c;
$miki: #b4e04b;
$julia: #d7385f;
$makoto: #515558;
$hinata: #d1342c;
$chihaya: #2743d2;
$reika: #6bb6b0;
$shiho: #afa690;
$umi: #e9739b;
$ayumu: #e25a9b;
$mizuki: #99b7dc;
$arisa: #b54461;
$iori: #fd99e1;
$azusa: #9238be;
$miya: #d7a96b;
$anna: #7e6ca8;
$rio: #f19591;
$subaru: #aeb49c;
$iku: #f7e78e;
$yuriko: #c7b83c;
$chizuru: #f19557;
$akane: #eb613f;
$tamaki: #ee762e;
$kotori: #e0c85e;
$minako: #58a6dc;
$takane: #a6126a;
$elena: #9bce92;
$karen: #b63b40;
$momoko: #efb864;
$yayoi: #f39939;
$sayoko: #7f6575;
$kotoha: #92cfbb;
$tomoka: #bee3e3;
$megumi: #454341;
$matsuri: #5abfb7;
$fuka: #7278a8;
$kana: #f5ad3b;
$nao: #788bc5;
